In [ ]:
#1
n =  int(input("Enter the length of the list: "))
user_list = []
for i in range(n):
    enter = str(input("Enter list item: "))
    user_list.append(enter)
print(f"Alternative list elements are: ")
print(user_list[1::2])

Enter the length of the list: 6
Enter list item: apple
Enter list item: 23
Enter list item: 22
Enter list item: 100.23
Enter list item: Milkshake
Enter list item: kawaa
Alternative list elements are:
['23', '100.23', 'kawaa']

In [ ]:
#2
n =  int(input("Enter the length of the list: "))
user_list = []
for i in range(n):
    enter = str(input("Enter list item: "))
    user_list.append(enter)

print(f"{user_list[::-1]}")

Enter the length of the list: 5
Enter list item: power
Enter list item: laugh
Enter list item: 89
Enter list item: 322
Enter list item: hai
['hai', '322', '89', 'laugh', 'power']

In [ ]:
#3
n =  int(input("Enter the length of the list: "))
user_list = []
for i in range(n):
    enter = int(input("Enter list item: "))
    user_list.append(enter)
max = user_list[0]
for i in range(n):
  if user_list[i] > max:
    max = user_list[i]
print(f"The largest element in the list is {max}")

Enter the length of the list: 5
Enter list item: 45
Enter list item: 2
Enter list item: 87
Enter list item: 33
Enter list item: 12
The largest element in the list is 87

In [96]:
#4
user_list = []
for i in range(5):
    enter = str(input(f"Enter list item {i+1}: "))
    user_list.append(enter)
print(user_list)
print(f"Rotated list: ")
last = user_list[-1]
for i in range(len(user_list)-1, 0, -1):
    user_list[i] = user_list[i-1]

user_list[0] = last

print(user_list)

Enter list item 1: 23
Enter list item 2: errrr
Enter list item 3: wsaa
Enter list item 4: 122
Enter list item 5: 099
['23', 'errrr', 'wsaa', '122', '099']
Rotated list:
['099', '23', 'errrr', 'wsaa', '122']

In [88]:
user=[45, "Lemon", "juice", 90.09, 2300]
print(user[-1:])
print(user[:-1])
print(user[::-1])

[2300]
[45, 'Lemon', 'juice', 90.09]
[2300, 90.09, 'juice', 'Lemon', 45]
[45, 'Lemon', 'juice', 90.09, 2300]

In [ ]:
#5
original = input("Enter the string: ")
original = original.split()
to_delete = input("Enter word to delete: ")
m = len(original)
for i in range(m):
  if original[i] == to_delete:
    original.remove(to_delete)
    break
original = ' '.join(original)  # join list back into a single string with character/space provided in the ''.
print(original)

In [ ]:
#6
dated = str(input("Enter the date (mm/dd/year): "))
dated = dated.split("/") # it splits the string based on the given argument.
if dated[0] == "01":
  dated[0] = "January"
elif dated[0] == "02":
  dated[0] = "February"
elif dated[0] == "03":
  dated[0] = "March"
elif dated[0] == "04":
  dated[0] = "April"
elif dated[0] == "05":
  dated[0] = "May"
elif dated[0] == "06":
  dated[0] = "June"
elif dated[0] == "07":
  dated[0] = "July"
elif dated[0] == "08":
  dated[0] = "August"
elif dated[0] == "09":
  dated[0] = "September"
elif dated[0] == "10":
  dated = "October"
elif dated[0] == "11":
  dated = "November"
elif dated[0] == "12":
  dated[0] = "December"
else:
  print("Invalid date")
print(f" {dated[0]} {dated[1]}, {dated[2]}")

In [33]:
#7
original = input("Enter the string: ")
original = list(original)
original[0] = original[0].upper()
for i in range(1, len(original)):
  if original[i-1] == ' ':
    original[i] = original[i].capitalize()
original = ''.join(original)
print(original)

Enter the string: dO yoU mean>
DO YoU Mean>

In [44]:
#8
matrix = [
    [2,11,7,12],
    [5,2,9,15],
    [8,3,10,42]
]

for i in range(len(matrix)):
  #print(matrix[i])
  total = sum(matrix[i])
  print(f"Sum of {i+1} row: {total}")

Sum of 1 row: 32
Sum of 2 row: 31
Sum of 3 row: 63

In [77]:
#9

matrix1 = [
    [2,11,7,12], [5,2,9,15],    [8,3,10,42]
]
matrix2 = [
    [21,1,9,15], [50,20,11,33], [1,30,40,4]
]
result = [
    [0,0,0,0], [0,0,0,0], [0,0,0,0]
]

for i in range(len(matrix1)):
  for j in range(len(matrix1[0])):  # to get the number of columns in a 2D matrix
    result[i][j]  = matrix1[i][j] + matrix2[i][j]

for i in range(len(matrix1)):
  for j in range(len(matrix1[0])):
    print(f"{result[i][j]:3}", end="")
  print(f"\n") # for every new row

 23 12 16 27

 55 22 20 48

  9 33 50 46

In [85]:
#10
matrix1 = [
    [2,11,12], [5,2,9],    [8,3,42]
]
matrix2 = [
    [21,1,15], [50,20,11], [1,30,40]
]
result = [
    [0,0,0], [0,0,0], [0,0,0]
]

if len(matrix1[0]) == len(matrix2):
  for i in range(len(matrix1)): # rows
    for j in range(len(matrix2[0])): # columns
      for k in range(len(matrix2)): # columns of first matrix = rows of second matrix (dot product of that row and column)
        result[i][j] += matrix1[i][k] * matrix2[k][j]
else:
  print("Invalid matrix")

for row in result:
    for val in row:
        print(f"{val:4}", end="")
    print()

[[ 604  582  631]
 [ 214  315  457]
 [ 360 1328 1833]]