In [12]:
#1
for i in range(10):
  print(f"{i+1}", end= " ")

1 2 3 4 5 6 7 8 9 10

In [13]:
#2
n=20
while(n>=1):
  print(f"{n}", end=" ")
  n -= 1

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [16]:
#3
for i in range(1,10, 2):
  print(f"{i+1}", end=" ")

2 4 6 8 10

In [17]:
#4
n = int(input("Enter number: "))
for i in range(n):
  print(f"{i+1}", end= " ")

Enter number: 5
1 2 3 4 5

In [20]:
#5
n = int(input("Enter number: "))
for i in range(1 ,n, 2):
  print(f"{i}", end= " ")

Enter number: 12
1 3 5 7 9 11

In [22]:
#6
for _ in range(5):
  print("Happy Birthday")

Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday

In [2]:
#7
n = int(input("Enter number: "))
for i in range(1, n+1):
  print(f"{i*i}", end=" ")

Enter number: 5
1 4 9 16 25

In [3]:
#8
n = int(input("Enter number: "))
for i in range(1, 11):
  print(f"{n} x {i} = {n*i}")

Enter number: 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [10]:
#9
for i in range(1, 9):
  n = 3 + (i-1) * 4
  print(f"{n}", end=" ")

3 7 11 15 19 23 27 31

In [11]:
#10
import math
for i in range(1, 7):
  n = 2 * pow(3, i - 1)
  print(f"{n}", end=" ")

2 6 18 54 162 486

In [18]:
#11
n = int(input("Enter number: "))
sum = 0
for i in range(1, n+1):
  sum = sum + i
print(f"{sum}")

Enter number: 10
55

In [22]:
#12
sum=0
n = int(input("Enter number: "))
for i in range(1, n+1):
  reciprocal = 1/i
  sum = sum + reciprocal
print(f"{sum:.2f}")

Enter number: 10
2.93

In [25]:
#13
sum= 0
for i in range(5):
  n =  int(input("Enter number: "))
  sum = sum + n
print(f"He final running total: {sum}")

Enter number: 10
Enter number: 15
Enter number: 35
Enter number: 40
Enter number: 50
150

In [26]:
#14
fact =  int(input("Enter number: "))
for i in range(1, fact):
  fact = fact * i
print(f"{fact}")

Enter number: 5
120

In [28]:
#15
base = int(input("Enter base: "))
exponent = int(input("Enter exponent: "))
result = 1
for i in range(exponent):
  result = result * base
print(f"{result}")

Enter base: 2
Enter exponent: 3
8